<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="../Alok_Ranjan_profile.pdf" target="_blank">Pdf Profile</a></li>
				<li><a href="../resume_bootstrap/index.html" target="_blank">HTML Profile</a></li>
	        		<li><a href="../dashboardFromSheet.io/index.html" target="_blank">Dasboard </a></li>
				<li><a href="../ETodoList/index.html" target="_blank">Todo List </a></li>
				<li><a href="https://app.codility.com/cert/view/certK4XYQS-8WKCQ8KHDUMMT769/" target="_blank">Codility Award</a></li>
				<li><a href="../myRewardsNitesh.pdf" target="_blank">Manager's Rewards</a></li>
				<li><a href="../rewardsSanjeev.pdf" target="_blank">Client's Rewards</a></li>
				
				
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:alokranjan04@gmail.com">email</a></li>
	        		<li><a href="https://github.com/alokranjan04">github.com/alokprofile</a></li>
				</ul>
			</footer>
		</body>
	</html>
