<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="../Alok_Ranjan_profile.pdf">CV</a></li>
	        		<li><a href="../dashboardFromSheet.io/index.html">Dasboard Project</a></li>
				<li><a href="../ETodoList/index.html">Todo List Project</a></li>
				<li><a href="https://app.codility.com/cert/view/certK4XYQS-8WKCQ8KHDUMMT769/">Codility Award</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:alokranjan04@gmail.com">email</a></li>
	        		<li><a href="https://github.com/alokranjan04">github.com/alokprofile</a></li>
				</ul>
			</footer>
		</body>
	</html>
